header {
  position: fixed;
  width: 100%;
}

nav {
  background: #fff;
  display: flex;
  padding: 10px 15px 6px;
  border-bottom: 1px solid #e2e2e2;
  height: 36px;
  position: relative;
}

.paragraph-1{
  font-size:22px;
  font-weight:1;
  letter-spacing:0.7px;
  line-height:2;
}

.navbar-left {
  margin-left: 20px;
  width: 30%;
  margin-top: 7px;
  justify-content: flex-start;
}

.section,
.fas {
  margin-right: 30px;
}

.advert{
  background-color: #f7f7f7;
  height: 250px;
  padding: 15px 0;
  color: lightgray;
  text-align: center;
}

.ad{ font-size: 20px; }

.section a {
  color: black;
  font-weight: 700;
  font-size: 14.25px;
  font-family: Arial, Helvetica, sans-serif, nyt-franklin;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

.navbar-centre {
  text-align: center;
  justify-content: center;
  width: 225px;
  height: 31px;
  margin: 4px auto 0;
}

svg {
  color: black;
}

.navbar-right {
  line-height: 11px;
  text-align: right;
  width: 30%;
  justify-content: flex-end;
}

.navbar-right button {
  cursor: pointer;
  background-color: #567b95;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 11px 12px 8px;
  letter-spacing: 0.05em;
}

.space-ripples h1 {
  display: inline-block;
  max-width: 600px;
  font-size: 35px;
  font-family: nyt-cheltenham, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 50px 0 20px 400px;
  position: relative;
}

.space-ripples img {
  width: 70%;
  vertical-align: top;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.space-ripples p {
  color: #666;
  font-family: nyt-imperial, Georgia, "Times New Roman", Times, serif;
  font-size: 0.875rem;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5px;
}

.space-ripples span {
  color: #888;
  font-size: 0.8rem;
}

.cambridge-main{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px 0;
}

.author {
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  margin: 0;
  font: bold;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}

.date {
  display: inline-block;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.icon-line {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
