header {
  position: fixed;
  width: 100%;
}

nav {
  background: #fff;
  display: flex;
  padding: 10px 15px 6px;
  border-bottom: 1px solid #e2e2e2;
  height: 36px;
  position: relative;
}

.paragraph-1 {
  font-size: 22px;
  font-weight: 1;
  letter-spacing: 0.7px;
  line-height: 2;
}

.navbar-left {
  margin-left: 20px;
  width: 30%;
  margin-top: 7px;
  justify-content: flex-start;
}

.section,
.fas {
  margin-right: 30px;
}

.advert {
  background-color: #f7f7f7;
  height: 250px;
  padding: 15px 0;
  color: lightgray;
  text-align: center;
}

.ad {
  font-size: 20px;
}

.section a {
  font-weight: 700;
  font-size: 14.25px;
  font-family: Arial, Helvetica, sans-serif, nyt-franklin;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

.navbar-centre {
  text-align: center;
  justify-content: center;
  width: 225px;
  height: 31px;
  margin: 4px auto 0;
}

svg {
  color: black;
}

.navbar-right {
  line-height: 11px;
  text-align: right;
  width: 30%;
  justify-content: flex-end;
}

.navbar-right button {
  cursor: pointer;
  background-color: #567b95;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 11px 12px 8px;
  letter-spacing: 0.05em;
}

.article-header h1 {
  display: inline-block;
  max-width: 600px;
  font-size: 35px;
  font-family: nyt-cheltenham, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 50px 0 20px 400px;
  position: relative;
}

.article-header img {
  width: 70%;
  vertical-align: top;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.article-header p {
  color: #666;
  font-family: nyt-imperial, Georgia, "Times New Roman", Times, serif;
  font-size: 0.875rem;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5px;
}

.article-header span {
  color: #888;
  font-size: 0.8rem;
}

.main {
  max-width: 600px;
  margin-left: 30%;
  padding: 30px 0;
  font-family: nyt-imperial, Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 0.78125rem;
}

.article {
  display: flex;
  justify-content: center;
}

.author {
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  margin: 0;
  font-weight: bold;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}

.date {
  display: inline-block;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.icon-line {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.editor {
  margin: auto 70px;
  width: 18%;
  float: right;
}

.pick {
  display: flex;
  margin-top: 15px;
  padding: 0;
}

.pick-desc {
  width: 80px;
  height: inherit;
  float: left;
  margin-right: 10px;
}

.pick-title {
  font-size: 14px;
  color: black;
}

.inflation-desc {
  height: auto;
  width: 63%;
  padding: 0;
  position: relative;
  margin-left: 20%;
}

.author-inflation {
  font-size: 0.875rem;
  line-height: 1.125rem;
  position: relative;
  width: 70%;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.author-inflation hr {
  color: black;
  width: 8%;
  margin-left: 1%;
  margin-top: 24px;
  margin-bottom: 0;
}

.professor {
  color: #666;
  font-family: nyt-imperial, Georgia, "Times New Roman", Times, serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-right: 7px;
  margin-top: 5px;
}

.telescope {
  width: 100%;
  vertical-align: top;
  height: auto;
}

.caption {
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: gray;
  line-height: 1rem;
  margin: 0 auto 1em;
}

.caption a {
  color: gray;
}

.reader-links {
  margin-left: 32%;
  text-align: left;
  justify-content: space-between;
  display: flex;
  width: 40%;
  background-color: white;
}

.space-astronomy {
  width: 90%;
  margin: auto;
  font-size: 1rem;
}

.astronomy-links {
  float: left;
  width: 72%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.hr-left {
  border: 0;
  border-top: 1px solid black;
}

.astronomy-links h5 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.space-link1,
.space-link2,
.space-link3 {
  overflow: hidden;
  margin-bottom: 25px;
  padding-bottom: 0;
}

.link1 {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.link2 {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.link3 {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.link1 img,
.link2 img,
.link3 img {
  width: 100%;
  height: auto;
}

#space1,
#space2,
#space3 {
  margin-right: 0;
}

figure {
  color: gray;
  float: left;
  text-align: right;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  font-size: 0.6875rem;
}

.figcaption {
  color: gray;
  margin-top: 5px;
  margin-bottom: 2px;
}

.astronomy-links a {
  color: black;
}

.image-desc {
  margin: 0;
}

.image-date {
  color: gray;
  font-size: 0.6875rem;
  margin-top: 8px;
}

.hr-right {
  border-top: 1px solid lightgray;
  border: 0;
}

.popular-aside {
  float: right;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 25%;
}

.popular-aside a {
  color: black;
  text-decoration: none;
}

.last-advert {
  background-color: #f7f7f7;
  height: 220px;
  padding: 15px 0;
  color: lightgray;
  text-align: center;
  font-size: 11px;
  clear: both;
}

.footer-links {
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

#line {
  border: 0;
  border-top: 2px solid lightgray;
  color: #d3d3d3;
}

.ny {
  display: flex;
  font-size: 13px;
  color: #808080;
}

.ny h6 {
  margin-left: 900px;
  font-size: 0.67em;
}

.footer-lists {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-columns: auto auto auto auto auto auto;
}

.news {
  margin: 0;
  color: #333;
  font-family: nyt-franklin;
  height: 25px;
  line-height: 15px;
  width: 150px;
}

ul {
  list-style-type: none;
  float: left;
  margin: 0;
  clear: both;
}

.items {
  padding-top: 10px;
  font-weight: normal;
}

.items a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-family: nyt-franklin;
  font-size: 0.875rem;
  /* font-weight: normal; */
  width: 150px;
  height: 23px;
  line-height: 16px;
}

.list-six {
  border-left: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 0;
}

.list-six hr,
.footer-hr {
  border: 0;
  border-top: 1px solid lightgray;
  color: #d3d3d3;
}

.last a {
  font-size: 11px;
}

.last-links {
  text-align: center;
}

.last-links span {
  margin-right: 25px;
}

.last-links a {
  color: #808080;
  font-size: 11px;
  text-decoration: none;
}

.access {
  position: sticky;
  z-index: 1;
  display: flex;
  font-size: 14px;
  font-family: nyt-franklin;
  border-top: 1px solid black;
  justify-content: space-between;
  -webkit-box-align: center;
  padding: 0 100px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}

.create {
  text-align: center;
  justify-content: center;
  width: 87%;
}

.expand {
  padding-top: 10px;
  text-align: right;
  width: 13%;
}

.access p {
  display: inline;
  font-size: 13px;
  color: #4d4b4b;
  font-weight: 600;
  margin-right: 30px;
}

.create a{
  color:black;
  text-decoration: none;
}


